<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="/static/css/all.css">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
