{% set pageTitle = 'Page Not Found' %}
{% extends 'shared/layout/plain/index.njk' %}

{% block content %}
  <main class="after-interaction">
    <h1>Error 404: Page Not Found</h1>
  </main>
{% endblock %}
